<!DOCTYPE html>
<html lang="es">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/css/styles.css">
    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap" rel="stylesheet">
    <!-- <link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.3/css/all.min.css" rel="stylesheet"> -->
    <script src="https://kit.fontawesome.com/75929d6988.js" crossorigin="anonymous"></script>
    <title>Mercado Liebre</title>
</head>

<body class="home">
    <header class="header">
        <a class="img-logo" href="/"><img src="/images/logo-mercado-liebre.svg" alt=""></a>
        <form action="" method="" class="header__searchbar">
            <input class="header__searchbar--input" type="text" name="" placeholder="Buscar productos, marcas" size="24">
            <button class="header__searchbar--button"><i class="fa-solid fa-magnifying-glass"></i></button>
        </form>
        <h4><i class="fa-solid fa-hand-holding-dollar"></i>Comprá en cuotas y sin tarjeta de crédito</h4>
        <nav class="header__nav">
            <ul class="header__nav--navbar">
                <li><a href="">Ofertas</a></li>
                <li><a href="">Tiendas Oficiales</a></li>
                <li><a href="">Vender</a></li>
                <li><a href="">Ayuda</a></li>
            </ul>
            <ul class="header__nav--loginbar">
                <li><a href="register.html">Creá tu cuenta </a><i class="fa-regular fa-id-card"></i></li>
                <li><a href="login.html">Ingresá </a><i class="fa-solid fa-arrow-right-to-bracket"></i></li>
                <li><a href="">Mis compras </a><i class="fa-solid fa-basket-shopping"></i></li>
            </ul>
        </nav>
        <button class="burger-menu">
            <i class="fas fa-bars"></i>
        </button>
    </header>

    <main>
        <form action="" method="POST" class="form-registro">
            <div>
                <label for="usuario"></label>
                <input type="text" id="usuario" placeholder="Nombre de usuario" required>
            </div>
            <div>
                <label for="password"></label>
                <input type="password" id="password" placeholder="Contraseña" required>
            </div>
            <div>
                <input type="submit" value="Ingresar" class="submit">
            </div> 
        </form>
    </main>

    <footer class="footer">
        <section class="footer__section">
            <article class="footer__article">
                <i class="fa-sharp fa-solid fa-credit-card fa-footer"></i>
                <h4>Pagá con tarjeta o en efectivo</h4>
                <p>Con Mercado Liebre Cash, tenés cuotas sin interés con tarjeta o efectivo en puntos de pago. ¡Y siempre es
                    seguro!</p>
            </article>
            <article class="footer__article">
                <i class="fa-solid fa-gift fa-footer"></i>
                <h4>Envío gratis desde los $2.500</h4>
                <p>Solo por estar registrad@ en Mercado Liebre tenés envíos gratis en miles de productos. Es un beneficio de
                    Mercado Puntos.</p>
            </article>
            <article class="footer__article">
                <i class="fa-solid fa-user-shield fa-footer"></i>
                <h4>Seguridad, de principio a fin</h4>
                <p>¿No te gusta? ¡Devolvelo! En Mercado Liebre no hay nada que no puedas hacer, porque estás siempre
                    protegid@.</p>
            </article>
        </section>    
        <section class="footer__section--info-copy">
            <p>Copyright © 1999-2020 MercadoLiebre S.R.L.</p>
        </section>
    </footer>
</body>

</html>