.footer {
    
}

.footer__section {
    padding: 0 35px;
    text-align: center;
}

.footer__article {
    margin: 40px 0 30px;
}

.footer__article h4 {
    color: var(--colorGrisOscuro);
    font-size: 16px;
}

.footer__article p {
    color: var(--colorGrisOscuro);
}

.footer__section--info-copy {
    margin: 20px;
    margin-left: 15px;
    color: var(--colorGrisOscuro);
}

.fa-footer {
    color: var(--colorCeleste);
    font-size: 2em;
    margin-bottom: 10px;
}