 .header {
    display: flex;
    flex-wrap: wrap;
    background-color: var(--colorAmarillo);
    padding: 15px;
    justify-content: space-between;
}

.header img {
    width: 50%;
}

.header__searchbar {
    width: 45%;
    position: relative;
}

.header__searchbar--input {
    width: 100%;
    height: 100%;
    border: none;
    border-radius: 5px;
    padding-left: 10px;
    color: var(--colorGrisOscuro);
}

.header__searchbar--button {
    padding: 5px;
    position: absolute;
    top: 20%;
    right: 0px;
    border: none;
    background-color: #FFF;
    color: var(--colorGrisOscuro);
}

.header__searchbar--button i {
    font-size: 5vw;
}

.header h4 {
    width: 100%;
    margin: 20px 0;
    text-align: center;
    font-weight: 400;
    font-size: 1.2em;
}

.header__nav {
    display: none;
}

.header__nav--navbar {
    margin: 10px 0;
}

.burger-menu {
    display: inline-block;
    margin: auto;
    background-color: var(--colorCeleste);
    color: white;
    padding: 10px;
    border-radius: 5px;
    border: none;
}

.burger-menu i {
    font-size: 150%;
}

@media (min-width: 426px) {
    a {
        font-size: 1.7vw;
    }

    .header {
        align-items: center;
    }

    .header img {
        width: 30%;
    }

    .header__searchbar {
        width: 30%;
        position: initial;
        /* max-width: 200px; */
    }
    
    .header__searchbar--input {
        width: 80%;
        border-style: inset;
        border-width: 2px;
        border-radius: 3px;
        border-color: -internal-ligth-dark(rgb(118,118,118),rgb(133,133,133));
        border-image: initial;
        padding: 1px 2px;
        color: var(--colorGrisOscuro);
    }
    
    .header__searchbar--button {
        padding: 1px;
        position: initial;
        border: none;
        background-color: buttonface;
        border-width: 1.5px;
        border-style: outset;
        border-color: buttonborder;
        border-image: initial;
        color: buttontext;
        border-radius: 3px;
    }
    
    .header__searchbar--button i {
        font-size: 14px;
    }

    .header h4 {
        width: 35%;
        margin: 0; 
        /* text-align: start; */
        font-weight: 400;
        font-size: 12px;
    }

    .header__nav {
        display: flex;
        flex-wrap: wrap;
        padding: 0px;
        width: 100%;
        height: 50px;
        justify-content: space-between;
        align-items: flex-end;
    }

    .header__nav--navbar {
        display: flex;
        justify-content: space-between;
        width: 40%;
        margin: 0;
    }

    .header__nav--loginbar {
        display: flex;
        justify-content: space-between;
        width: 40%;
    }

    .burger-menu {
        display: none;
    }
}

@media (min-width: 769px) {
    a {
        font-size: 14px;
    }

    .header h4 {
        font-size: 14px;
    }

    .header__nav--navbar {
        width: 30%;
    }

    .header__nav--loginbar {
        width: 30%;
    }
}