 .header {
    background-color: var(--colorAmarillo);
    padding-bottom: 20px;
}

.header img {
    width: 40%;
    margin: 20px;
    margin-bottom: 10px;
}

.header__searchbar--input {
    margin-left: 15px;
}

.header__searchbar--button {
    display: block;
    margin-left: 15px;
    padding: 0;
}

.header p {
    margin: 10px 0;
    text-align: center;
}

.header__nav--navbar {
    margin: 10px 0;
}

.burger-menu {
    display: block;
    background-color: var(--colorCeleste);
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 20px auto 0;
    border: none;
}

.burger-menu i {
    font-size: 150%;
}