.home__main__productos {
    display: block;
    margin: auto;
    width: 90%;
}

.home__main--banner img {
    width: 100%;
}

.home__main__section__article {
    margin-bottom: 10px;
}

.home__main__section h2 {
    display: block;
    width: 100%;
    font-size: 24px;
    margin: 20px 0;
    color: var(--colorGrisOscuro);
}

.home__main__section__article--contenido {
    background-color: white;
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
}

/* img de producto */
.home__main__section__article img {
    width: 100%;
}

.home__main__section__article--icono_camion {
    position: relative;
}

/* logo camión envíos */
.home__main__section__article--icono_camion i {
    display: block;
    position: absolute;
    right: 20px;
    top: -30px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: var(--colorVerde);
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    padding: 5px;
}

/* precio */
.home__main__section__article--contenido h3 {
    display: inline-block;
    font-size: 18px;
    width: 30%;
}

/* oferta */
.home__main__section__article--contenido p{
    display: inline-block;
    font-size: 16px;
    color: var(--colorVerde);
}

/* nombre del artículo */
.home__main__section__article--contenido h4{
    font-size: 16px;
    color: var(--colorGrisOscuro);
    font-weight: 400;
    margin-top: 20px;
    display: none;
}

@media (min-width: 426px) {
    .home__main {
        width: 100%;
    }

    .home__main__section {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
    }
    
    .home__main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
        width: 45%;
    }

    .home__main__section__article--contenido h3 {
        width: initial;
        margin-right: 7%;
    }

    .home__main__section__article--contenido h4{
        display: block;
    }
}

@media (min-width: 769px) {
    .home__main__section__article {
        width: 24%;
    }
}