.home__main__productos {
    display: block;
    margin: auto;
    width: 90%;
}

.home__main--banner img {
    width: 100%;
}

.home__main__section__article {
    margin-bottom: 10px;
}

.home__main__section h2 {
    font-size: 24px;
    margin: 20px 0;
    color: var(--colorGrisOscuro);
}

.home__main__section__article--contenido {
    background-color: white;
    border-top: 1px solid var(--colorGrisClaro);
    padding: 15px;
}

/* img de producto */
.home__main__section__article img {
    width: 100%;
}

.home__main__section__article--icono_camion {
    position: relative;
}

/* logo camión envíos */
.home__main__section__article--icono_camion i {
    display: block;
    position: absolute;
    right: 20px;
    top: -30px;
    font-size: 16px;
    width: 30px;
    height: 30px;
    color: var(--colorVerde);
    background-color: #FFF;
    border-radius: 50%;
    border: 1px solid var(--colorVerde);
    padding: 5px;
}

/* precio */
.home__main__section__article--contenido h3 {
    display: inline-block;
    font-size: 18px;
    width: 30%;
}

/* oferta */
.home__main__section__article--contenido p{
    display: inline-block;
    width: 70%;
    font-size: 16px;
    color: var(--colorVerde);
}

/* nombre del artículo */
.home__main__section__article--contenido h4{
    font-size: 16px;
    color: var(--colorGrisOscuro);
    font-weight: 400;
    margin-top: 20px;
    display: none;
}

@media (min-width: 361px) {
    .home__main {
        width: 100%;
    }

    .home__main__section {
        width: 90%;
        margin: auto;
    }
    
    .home__main__section__article {
        box-shadow: 0px 0px 10px rgb(100, 100, 100);
    }

    .home__main__section__article--contenido h4{
        display: block;
    }
}

@media (min-width: 769px) {
    .home__main__section__article {
        display: inline-block;
        margin: 1%;
        width: 31%;
    }

    .home__main__section__article:nth-child(n3) {
        
    }
}